[submodule "excons"]
	path = excons
	url = git://github.com/gatgui/excons.git
[submodule "c-blosc"]
	path = c-blosc
	url = git://github.com/gatgui/c-blosc
[submodule "glfw"]
	path = glfw
	url = git://github.com/gatgui/glfw.git
[submodule "zlib"]
	path = zlib
	url = git://github.com/gatgui/zlib
[submodule "openexr"]
	path = openexr
	url = git://github.com/gatgui/openexr
